@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0%;
    padding: 0%;
    /* padrao de reset css */
}

body {
    height: 100vh;
    box-sizing: border-box;
    /* faz com que nenhum elemento saia do body */
    background-color: black;
    color: #F6F6F6;
}

.apresentacao {
    display: flex;
    /* alinha o conteudo de forma enfileirada */
    align-items: center;
    justify-content: space-between;
    /* posiciona elementos */
    margin: 10% 15%;
}

.titulo-destaque {
    color: #22D4FD;


}

.apresentacao__conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 33px;

}

.apresentacao__conteudo__titulo {
    font-size: 36px;
    font-family: "Krona One", sans-serif;
}

.apresentacao__conteudo__subtitulo {
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
}

.apresentacao__conteudo__foto {
    border-radius: 200px;
}

.apresentacao__links {
    display: flex;
    justify-content: space-between;

}

.apresentacao__links__link {
    background-color: #22D4FD;
    font-family: "Montserrat", sans-serif;
    border-radius: 16px;
    width: 280px;
    text-align: center;
    font-size: 24px;
    padding: 21px 0px;
    text-decoration: none;
    color: black;
    font-family: "Montserrat", sans-serif;
}